{:greenhouse/postgres {:server-name "localhost"
                       :database-name "greenhouse"
                       :pool-name "server-service-pool"
                       :maximum-pool-size 10
                       :username "greendev"
                       :password "green"}
 :greenhouse/httpd {:port 3000
                    :database #ig/ref :greenhouse/postgres}}
